body{
     background: #f12711;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #f5af19, #f12711);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #f5af19, #f12711); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
}
h1{
    color: #4b6584;
    text-align: center;
}
#paper, #rock, #scissors{
    padding-left: 123px;
    border-end-end-radius:50px;
    border-top-left-radius: 150px;
}
#computer-select{
    position: absolute;
    margin-left: 100px;
    border: 5px solid #4b6584;
    border-end-end-radius:50px;
    border-top-left-radius: 100px;
    margin-top: 30px;
    
}
#result{
    width: 250px; 
     height: 250px;
     border-end-end-radius:50px;
     border-top-left-radius: 100px;
    border: 5px solid;
    position:absolute;
    margin-left: 500px;
    margin-top: 30px;

}